@model IEnumerable<PortafolioWeb.FUNCIONARIO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
@Styles.Render("~/Content/logintheme/css/reset.css")
@Styles.Render("~/Content/logintheme/bootstrap/css/bootstrap.css")
@Styles.Render("~/Content/logintheme/css/cssLogin.css")
@*@Styles.Render("~/Content/logintheme/bootstrap/css/bootstrap-theme.min.css")*@  

<body>

    <form  method="post">
        <img src="~/Content/img/logoMunicipalidad.PNG">
        <h3>Ilustre Municipalidad de Vista Hermosa</h3>

        <input type="text" name="rut" placeholder="&#128590; Usuario">
        <input type="password" name="password" placeholder="&#128272; Contraseña" >
        <input type="submit" value="Ingresar"/>

    </form>

    @*<div class="main-w3">
          <div class="login-agile" >


              <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4 well" align="center">
                      <form action="#" method="post">
                          <img src="~/Content/logo.png" alt="Vista Hermosa" />
                          <h4>Ilustre Municipalidad de Vista Hermosa</h4>
                          <br />
                          <div class="login-top">
                              <h5>Inicio de sesión</h5>
                          </div>
                          <div class="email">
                              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                              <input type="text" name="rut" class="user" placeholder="rut">
                          </div>

                          <div class="pw">
                              <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                              <input type="password" name="password" class="pw" placeholder="contraseña">
                          </div>

                          <div class="form-group">
                              <div>
                                  <input type="submit" value="Ingresar" class="btn btn-primary" />
                              </div>
                          </div>
                      </form>
                  </div>
                  <div class="col-sm-4"></div>
              </div>  
                
            </div>
            
        </div>
            <script>
						var icons = new Skycons({"color": "#fff"}),
							  list  = [
								"partly-cloudy-day"
							  ],
							  i;

						  for(i = list.length; i--; )
							icons.set(list[i], list[i]);
						  icons.play();
            </script>
            <script>
						 var icons = new Skycons({"color": "#fff"}),
							  list  = [
								"clear-day","partly-cloudy-night","rain","fog","snow","cloudy"
							  ],
							  i;

						  for(i = list.length; i--; )
							icons.set(list[i], list[i]);
						  icons.play();
            </script>
         
        <div class="clearfix"> </div>
        <!-- start responsive tabs -->
        
        
        <div class="clearfix"></div>
        <!-- end  switches -->*@
        
        
       
        
    
    <!--  player js -->

    @if (TempData["LoginInvalido"] != null)
    {
        @Scripts.Render("~/bundles/alert")
    }

</body>
</html>